<div id="cervical-screening">
<div class="container-end" id="home-panel">
            <div class="box">
                <div>  
                    <p>Cervical cancer rates have declined over 80% because of screening. Cervical cancer screening can be done using the Pap test and by testing for Human Papillomavirus (HPV), the virus that causes cervical cancer. HPV vaccination can also prevent cervical cancer. This website is designed to help patients understand HPV vaccination as well as new guidelines for cervical cancer screening and management of abnormal results. This website will walk you through the steps that a doctor or healthcare provider may use when deciding management after an abnormal result.  
                    </p>
                </div>
                <div class="buttons" style="text-align: center; margin-top: 2rem;">
                    <a class="btn btn-primary" style="margin: 0.5rem 0rem;" id="todisclaimer" role="button">Personalized Risk Assessment</a>
                    <a class="btn btn-secondary" style="margin: 0.5rem 0rem;" id="toscreening" role="button">HPV and Pap Test Information</a>
                    <a class="btn btn-tertiary" style="margin: 0.5rem 0rem;" id="tovaccination" role="button">HPV Vaccine Information</a>
                    
                </div>
            </div>
        </div>
      <!-- DISCLAIMER -->
        <div class="container-end hidden" id="disclaimer-panel">
          <div class="box">
              <h2>Personalized Risk Assessment</h2>
              The following questions will ask about your abnormal test results and provide your risk of precancer and the next steps in management based on what you entered.
              <br>
              <br>
              <h4 id="disclaimer">DISCLAIMER:</h4>
              <ul>
                  <li>The intention of this website is to make the new guidelines for management of abnormal Pap test results, HPV test results, and cervix biopsy results (colposcopy) understandable to patients. 
                      This website will walk you through the steps that your doctor or healthcare provider may use when deciding the next steps in management after abnormal results. 
                      This website does not provide medical advice.</li>
                  <br>
                  <li>To use this website, you will need access to your medical record as you will need to enter exact medical terms.</li>
                  <br>
                  <li>Note that recommendations may be different if you are <a tabindex="0" data-toggle="popover" data-trigger="focus" data-content="If you have HIV or immunosuppression for another reason, your provider will likely recommend colposcopy for any abnormal result, and screening at 3-year intervals. ">immunosuppressed</a>, <a tabindex="0" data-toggle="popover" data-trigger="focus" data-content="Pregnancy does not change your risk of having precancer, and you should still have a colposcopy if that is recommended. However, your provider may not take biopsies, and usually you would not be recommended for treatment until after you had the baby.">pregnant</a>, or have had a <a tabindex="0" data-toggle="popover" data-trigger="focus" data-content="If you had a hysterectomy with removal of the cervix, you probably do not need screening anymore. If your hysterectomy was done because of pre-cancer, or cancer, then you shoud continue having screening with HPV testing for at least 25 years after your diagnosis.  If your cervix was not removed (sometimes called a supracervical hysterectomy) then you do need to continue to have screening.">hysterectomy</a>.</li>
                  <br>
                  <li>
                      Note that risk numbers are for people who regularly have cervical cancer screening. If you have not been screened in more than 5 years, your risks may be <a href="https://pubmed.ncbi.nlm.nih.gov/33035473/">higher</a>. 
                  </li>
                  <br>
                  <li>For more information on immunosuppresion and cervical cancer screening click <a target="_blank" href="https://clinicalinfo.hiv.gov/en/guidelines/adult-and-adolescent-opportunistic-infection/human-papillomavirus-disease?view=full">here</a>.</li>
                  <li>For more information on managing cervical cancer screening results in pregnancy or after hysterectomy, click <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/32243307/">here</a></li>
                  <li>For more information on cervical cancer screening after hysterectomy please visit the <a target="_blank" href="https://www.uspreventiveservicestaskforce.org/uspstf/recommendation/cervical-cancer-screening">USPSTF guidelines</a> and <a target="_blank" href="https://acsjournals.onlinelibrary.wiley.com/doi/full/10.3322/caac.21628">American Cancer Society Guidelines.</a></li>
                  <br>
                  <li>Click for our <a class="todefinitions">Glossary</a> of medical terms.</li>
              </ul>
              <a class="btn btn-secondary tohome" role="button">Home</a>
              <a class="btn btn-primary next_btn" role="button" id="toform">Proceed</a>
          </div>
      </div> 
      <!-- FORM -->
      <div class="container-box hidden" id="form-panel">
        <div class="box">
                <label for="radios" id="questionText" class="font-size-md font-weight-bold" style="margin: 0rem;">For which result type do you want a recommendation?</label> 
                <input hidden id="questionNum" value="0">
                <hr class="line">
                <ul class="form-check" id="radios">
                    <li>
                        <input id="0" name="question" type="radio" value="0"> 
                        <label for="0">HPV Test/Pap Test</label>
                    </li>
                    <li>
                        <input id="1" name="question" type="radio" value="1">
                        <label for="1">Cervical Biopsy (Colposcopy)</label>
                    </li>
                </ul>
                <button class="btn btn-secondary" id="back">Back</button>
                <button type="submit" class="btn btn-primary" id="next">Next</button>        
        </div>
        <div class="box">
            <div>
                <p class="font-size-md font-weight-bold">Previous Answers:</p>
                <hr class="line">
                <div id="display"></div>
            </div>
        </div>
      </div>
      <!-- END -->
      <div class="container-end hidden" id="end-panel">
          <div class="box" style="display: grid; align-content: center;">
              <div>
                  <div>   
                      <p class="font-size-md" style="margin: 0rem;">Management</p> 
                      <hr class="line">
                      <p id="management"></p>
                  </div>

                  <div class="hidden fudge">
                      <p class="font-size-md" style="margin: 0rem;">Note</p> 
                      <hr class="line">
                      <p id="fudge"></p>
                  </div>

                  <h5 class="hidden curr-risk">Current Precancer Risk: <span id="curr-risk"></span></h5>
                      
                  <h5 class="hidden five-year-risk">Precancer Risk Over Next 5 Years: <span id="five-year-risk"></span></h5>
                  <p class="">Click for our <a class="todefinitions">Glossary</a> of medical terms.</p>
                  <br>
                  <a class="btn btn-secondary button next-btn reloadhome" role="button">Home</a>
              </div>
          </div>
      </div>
      <!-- SCREENING -->
      <div class="container-end hidden" id="screening-panel">
        <div class="box">
            <h2>Cervical Cancer Screening: HPV and Pap Tests</h2>
            <br>
            <h4>What causes cervical cancer?</h4>
            Cervical cancer is caused by infection with Human Papillomavirus (HPV). HPV is usually transmitted between sexual partners during intercourse, but can also be spread by touching genitals without sex. Most people will be exposed to HPV at some point during their lives. Usually, your body’s immune system can fight off the HPV infection, but sometimes it doesn’t. Cervical cancer can develop if the cells of the cervix (the bottom part of the uterus or womb) are infected with HPV, your body does not fight off the infection, and the infection is not detected for more than 5 years.

            <h4>
                What is the purpose of cervical cancer screening?
            </h4>
            Cervical cancer screening detects pre-cancer. Cervical pre-cancers are abnormal cells that can go on to become cancer if they are not treated. Without treatment, 30-50% of precancers will become cancer. The medical terms used to describe cervical pre-cancer include cervical dysplasia, high-grade lesions, or Cervical Intraepithelial Neoplasia grades 2 or 3. Screening allows us to find and treat cervical pre-cancer so cancer does not develop.
             
            <h4>
                How is cervical cancer screening done?
            </h4>
            Cervical cancer screening can be done with an HPV test, a Pap test, or an HPV and Pap test together.
             
            <p>
                An HPV test is recommended every 5 years starting at age 25-30 years until the age of 65 years. An HPV test is done by your healthcare provider, who will do an exam and take a sample from the cervix. If you have a pre-cancer, the HPV test will find it more than 90% of the time. If you have a positive HPV test, that does not always mean that you have pre-cancer. Your healthcare provider will usually recommend other tests to check if you have precancer. If you have a negative HPV test result, your chance of developing a pre-cancer in the next 5 years is less than 1 in 1000. Because the risk is so low, it is safe to wait 5 years for your next test after a negative result.
            </p>
             
            <p>
                A Pap test is recommended every 3 years starting at age 21 until the age of 65.  A Pap test is done by your healthcare provider, who will do an exam and take a sample from the cervix. If you have a pre-cancer, the Pap test will find it 50%-70% of the time. If you have an abnormal Pap test, that does not always mean that you have pre-cancer. Your healthcare provider will usually recommend other tests to check if you have precancer. If you have a negative Pap test result, your chance of developing a pre-cancer in the next 5 years is less than 1 in 200. Pap tests are recommended every 3 years.
            </p>
             
            <p>
                Between the ages of 30 and 65 years, screening can also be done with an HPV test and Pap test together every 5 years. This is called co-testing.
            </p>
             
            For more information on cervical cancer screening, please visit the <a target="_blank" href="https://www.uspreventiveservicestaskforce.org/uspstf/recommendation/cervical-cancer-screening">USPSTF guidelines</a>, <a target="_blank" href="https://acsjournals.onlinelibrary.wiley.com/doi/full/10.3322/caac.21628">American Cancer Society Guidelines</a> and the <a target="_blank" href="https://www.acog.org/clinical/clinical-guidance/practice-advisory/articles/2021/04/updated-cervical-cancer-screening-guidelines">American College of Obstetricians and Gynecologists</a>.
            
            <br>
            <br>
            <a class="btn btn-secondary tohome"  role="button">Home</a>
            
        </div>
    </div>
    <!-- VACCINATION -->
    <div class="container-end hidden" id="vaccination-panel">
      <div class="box">
          <h2>HPV Vaccination</h2>
          <br>
          <h4>What is HPV?</h4>
Human Papillomavirus (HPV) is a virus. HPV is usually passed between sexual partners during intercourse, but can also be spread by touching genitals without sex. Most people will be exposed to HPV at some point during their lives. Usually, your body’s immune system can fight off the HPV infection, but sometimes it doesn’t. HPV can cause cancers, genital warts, and a rare disease called <a target="_blank" href="https://www.nidcd.nih.gov/health/recurrent-respiratory-papillomatosis">recurrent respiratory papillomatosis</a>. HPV can cause cancer of the cervix (lower part of the uterus or womb), vagina, vulva, penis, anus, and mouth and throat (usually the tonsils and tongue). Over 35,000 cancers caused by HPV are diagnosed in the US every year. Scientists estimate that we can prevent almost 90% of these cancers with HPV vaccination.

<h4>How do HPV vaccines work?</h4>
HPV vaccines prevent the types of HPV most likely to cause cancer, genital warts, and recurrent respiratory papillomatosis. The vaccines do not contain the virus, so they cannot give you HPV and they cannot cause cancer. HPV vaccines contain a small piece of the virus’s outer shell. They teach your body to recognize the virus and kill it before it can cause damage to your body.

<h4>Are HPV vaccines effective?</h4>
YES! People who have received HPV vaccines are 90% less likely to get an HPV infection than people who are not vaccinated.  We have also seen decreases in cervical pre-cancer and cervical cancer in young women since we have started routinely giving HPV vaccination.

<h4>Are HPV vaccines safe?</h4>
YES! HPV vaccines first became available in 2006. They have been used around the world since that time and are monitored continuously for safety in over 180 countries. More than 270 million doses have been given worldwide, with more than 120 million doses given in the US. No serious side effects have been found. The common side effects for HPV vaccines are similar to other vaccines and include a sore arm, and occasionally fatigue or a mild headache. These usually go away after a day or two.

<h4>
Who should get an HPV vaccine?
</h4>
It is recommended that all children receive 2 doses of HPV vaccine before their 13th birthday. The series is usually started at age 9-12 years. HPV vaccine doses are given 6-12 months apart.
Vaccine series started after the 13th birthday are considered “late,” but can still be effective to prevent HPV infections. Three doses are required if the series is started after the 15th birthday. Late or catch-up vaccination is recommended for everyone through age 26 years.

<h4>
Will my insurance pay for the HPV vaccine?
</h4>
HPV vaccination will be covered by insurance for all children and adolescents through the age of 18. After the age of 18, coverage depends on the individual insurance carrier.

<h4>
How effective is HPV vaccination at age 27-45 years?
</h4>
The CDC estimates that 80% of HPV infections that will go on to cause cancer are acquired by age 26. For this reason, studies in 27-45 year olds did not show a significant decrease in pre-cancer or cancer. The CDC recommends that you talk to your healthcare provider if you are considering HPV vaccination. This is called shared decision-making. You are most likely benefit from HPV vaccination between the age of 27 and 45 if you have had only 1 or 2 lifetime sexual partners but may be exposed to HPV in a new relationship. Some data indicate that HPV vaccination can help to prevent recurrence of pre-cancer after treatment.

<br>
<br>
<p>
For more information on HPV vaccines, please visit: <a target="_blank" href="https://www.cdc.gov/hpv/parents/vaccine.html">CDC</a>, <a target="_blank" href="https://www.acog.org/womens-health/faqs/hpv-vaccination">American College of Obstetricians and Gynecologists</a>, or <a target="_blank" href="https://www.cancer.org/healthy/hpv-vaccine.html">American Cancer Society</a>.
</p>
          <a class="btn btn-secondary tohome">Home</a>

      </div>
  </div> 
  <!-- DEFINITIONS -->
  <div class="container-end hidden" id="definitions-panel">
    <div class="box">
        <h2>Glossary: Definitions and Abbreviations</h2>
        <h4>
            Cervix:
        </h4> The cervix is the bottom part of the uterus. The cervix is located at the top of the vagina. The cervix is designed to hold a baby inside the uterus during pregnancy. The cervix opens during vaginal birth to allow the baby to come out. The cervix is at risk for developing cancer if screening is not done regularly.
        <h4>
            Human Papillomavirus (HPV):
        </h4> HPV is the virus that causes cervical cancer. Most individuals aged 30-65 are screened for cervical cancer with HPV testing.

        <h4>
            Negative HPV Test:
        </h4> A negative test result means that no HPV was found, and your risk of developing cervical cancer in the next few years is very low.

        <h4>
            Positive HPV test:
        </h4> A positive test means that HPV was found, and you may need additional testing.
        <h4>
            Loop Electrosurgical Excision Procedure (LEEP):
        </h4> This is a treatment procedure to treat CIN2, CIN3 or HSIL found on a biopsy. A hot wire loop is used to remove the abnormal cells. This can usually be done in the office using local anesthesia.
        
        <H4>
            Cold Knife Conization:
        </H4> This is a treatment procedure to treat adenocarcinoma in situ (AIS). A scalpel is used to remove the abnormal cells. This is usually done in the operating room using general anesthesia.
        
        <H4>
            Hysterectomy:
        </H4> A hysterectomy is surgery to remove the uterus (womb). Sometimes the cervix is removed, which is called a total hysterectomy. Sometimes the cervix is not removed, which is called a partial or supracervical hysterectomy.
        
        <h4>
            Immunosuppression:
        </h4> The cells that fight infections in your body are called your immune system. Immunosuppressed means that your immune system does not fight infections very well. This can happen because of infection with HIV or because of certain medications. Common medications that lower the immune system are medications taken for auto-immune diseases like lupus or rheumatoid arthritis. Other medications are some types of chemotherapy for cancer, or medicines taken after an organ transplant. You are at higher risk for cervical cancer if you are immunosuppressed because your body can't fight off an HPV infection very well. If you are immunosuppressed, guidelines recommend a Pap test every year for 3 years after your diagnosis or first sexual activity, and then a Pap test every 3 years. Pap and HPV tests together every 3 years can be used over the age of 30.
    </div>
    <div class="box">
        <h3>
            Pap Testing:
        </h3> Papanicolaou (Pap) testing involves taking a sample of cells from the cervix using a soft brush or swab to check for abnormalities. <p>
            Pap tests can have several different results:
        </p>
    
        <h4>
            1. Negative for Intraepithelial Lesion or Malignancy (NILM):
        </h4>This means your Pap test was normal.
        
        <h4>
        2. Atypical Squamous Cells of Uncertain Significance (ASC-US):
        </h4>This means some mildly abnormal cells were found. Sometimes an HPV test is performed to help guide management. Usually, if the HPV test is positive, additional testing is recommended. If the HPV test is negative, repeat testing in one or three years is recommended.
        
        <h4>
        3. Low Grade Squamous Intraepithelial Lesion (LSIL):
        </h4> This means some mildly abnormal cells were found. Sometimes an HPV test is performed to help guide management. Usually, if the HPV test is positive, additional testing is recommended. If the HPV test is negative, repeat testing in one year is recommended.
        
        <h4>
        4. High Grade Squamous Intraepithelial Lesion (HSIL):
        </h4> This means some very abnormal cells were found. Additional testing is recommended. Usually this is a colposcopy.
        
        <h4>
        5. Atypical Squamous Cells cannot exclude High Grade (ASC-H):
        </h4> This means a few very abnormal cells were found, but most of the cells were only mildly abnormal. Additional testing is recommended. Usually this is a colposcopy.
        
        <h4>
        6. Atypical Glandular Cells:
        </h4> This means that abnormal cells were found that may be coming from higher up in the cervix or uterus. Additional testing is recommended. Usually this is a colposcopy. Sometimes a test of the uterus is also recommended.
     </div>
     <div class="box">
        <h3>
            Colposcopy:
        </h3> Colposcopy is often recommended after abnormal screening test results. Colposcopy involves examining the cervix with magnification and usually taking two or three small pieces of skin (biopsies) to check for precancer. <p>
            Biopsies taken at colposcopy can have several different results:
        </p>
        <h4>
        1. Normal:
        </h4> No abnormal cells were found. Usually, follow-up testing is recommended in one year.
        
        <h4>
        2. Cervical Intraepithelial Lesion grade 1 (CIN1):
        </h4> Mildly abnormal cells were found. Usually, follow-up testing is recommended in one year.
        
        <h4>
        3. Cervical Intraepithelial Lesion grade 2 (CIN2):
        </h4> More severely abnormal cells were found. Usually, treatment is recommended to prevent cervical cancer.
        
        <h4>
        4. Cervical Intraepithelial Lesion grade 3 (CIN3):
        </h4>Severely abnormal cells were found. Treatment is almost always recommended to prevent cervical cancer.
        
        <h4>
        5. High Grade Squamous Intraepithelial Lesion (HSIL):
        </h4> Severely abnormal cells were found. Treatment is almost always recommended to prevent cervical cancer.
        
        <h4>
        6. Adenocarcinoma in Situ (AIS):
        </h4> This is a high-grade precancer and is usually managed by a specialist. Treatment is almost always recommended to prevent cervical cancer.
     
        <br>
        <br>
        <a class="btn btn-secondary tohome">Home</a>
    </div>    
</div>  
</div>
{# <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> #}
{# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> #}
